#container {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

h1, h2, h3, h4 {
    background-color: #ADD8E6; /* light blue */
    color: #000000; /* Black for readability */
    border: 1px solid #D6A800;
    padding: 10px;
}

a {
    color: #0000FF; /* blue */
    text-decoration: none;
}

a:hover {
    color: #FFA500; /* orange */
}

a:visited {
    color: #800080; /* purple rain! */
}
